<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhangyong.persistence.student.StudentMapper">
    <resultMap  type="com.zhangyong.domain.Student" id="BaseResultMap">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="stu_name" property="stu_name" jdbcType="VARCHAR"/>
        <result column="class_name" property="class_name" jdbcType="VARCHAR"/>
        <result column="grade_name" property="grade_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, stu_name,class_name,grade_name
    </sql>

    <select id="selectStudentList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM student
    </select>
</mapper>